.qnaPage {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.header {
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
}

.qaList {
    display: flex;
    flex-direction: column;
    gap: 16px;
}